bs4
cirq
dimod
dwave-neal
ipywidgets
jupyterlab
kaleido
matplotlib
netqasm
ortools
pandas
pandoc
pennylane
plotly
pipreqs
pulp
pylatexenc
qiskit
qiskit_aer
qiskit_ibm_runtime
scipy-openblas64
selenium
sequence
